<form method = "POST" action="/new">
    <h3>Add a new message:</h3>
    <label for = "author">Enter Name:</label>
    <input name ="messageUser" id = "author"/>
    <label for = "message">Enter Message:</label>
    <input name = "messageText" id = "message"/>
    <button type = "submit">Submit</button>
</form>